<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <servlet>
    <servlet-name>AnimaleController</servlet-name>
    <servlet-class>Controller.AnimaleController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CaracteristiciController</servlet-name>
    <servlet-class>Controller.CaracteristiciController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ObservatiiController</servlet-name>
    <servlet-class>Controller.ObservatiiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimaleController</servlet-name>
    <url-pattern>/AnimaleController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaracteristiciController</servlet-name>
    <url-pattern>/CaracteristiciController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObservatiiController</servlet-name>
    <url-pattern>/ObservatiiController</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout> 30 </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>adauga_Animal.jsp</welcome-file>
  </welcome-file-list>
</web-app>